@import 'normalize';
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$white: #fff;
$grey: #333;
$lightgrey: #666;
$OpenSans: "Open Sans", sans-serif;
$ReenBean: "Reenie Beanie", sans-serif;

@mixin fontbase($font,$color,$size,$weight){
	font-family: $font;
	font-size: $size;
	color:$color;
	font-weight: $weight;
}
.container{
	width: 1000px;
	margin: 0 auto;

	h1{
		@include fontbase ($OpenSans, $grey, 2em, 600);
		text-transform: uppercase;	
	}

}

#circling1,#circling2{
	transform-origin:50% 50%;
}
.cassette{
	width: 900px;
	margin: 0 auto;
	position: relative;
	.svg-cassette{
		position: absolute;
		z-index: 10;
	}
	#ytplayer{
		position: absolute;
		top: 149px;
		left: 274px;
		z-index: 50;
		border-radius: 25px;
		overflow: hidden;
		
	}
	#title{
		position: absolute;
		top: 18px;
		left: 65px;
		@include fontbase ($ReenBean, $white, 3em, 400);
		z-index: 50;
	}
	#date_time{
		position: absolute;
		top: 300px;
		right: 160px;
		@include fontbase ($ReenBean, $white, 2em, 400);
		z-index: 50;
	}
	#description{
		display: none;
		position: absolute;
		z-index: 50;
	}
	#toggle{
		position: absolute;
		bottom: 0;
		z-index: 60;
		top: 450px;
		left: 300px;
	}
	.control{
		position: absolute;
		z-index: 50;
		#bt_play{}
		#bt_pause{}
		#bt_stop{}
	}
	.filler{
		width: 100%;
		height: 500px;
		display: block;
	}

}
#thumbnails{
	display: none;
	height: 800px;
	overflow: scroll;
	.thumbnail{
		display: inline-block;
		float: left;
		width: 400px;
		margin: 5px;
		h4{
			display: inline-block;
			@include fontbase ($OpenSans, $grey, 1em, 400);
			margin-left: 5px;
		}
		img{
			display: inline-block;
			float: left;
			width: 90px;
			border-radius: 8px;

		}
	}
}

















